input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.custom-file-upload p {
  margin-left: 10px;
}

.file-preview {
  margin: 0 10px;
}

.input-file-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.files-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.helper-text {
  width: 100%;
}